.text {
    height: 730px;
    overflow: hidden;

    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.text .left {
    width: 50%;
    background-color: #fff;
    color: #454545;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}
.text .right {
    width: 50%;
    background-color: #131313;
    color: #fff;
    padding-bottom: 1000px;
    margin-bottom: -1000px;
}
.text .right a {
    color: #fff;
}

h2 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 0.3em;
    margin-top: 0.6em;
}

.padded{
    padding: 25px;
}

.bold {
    font-weight: bold;
}

.text ul{
    margin-left: 20px;
    margin-bottom: 1em;
}
    .text ul li{
        list-style-type: disc;
    }

.text img {
    margin: 10px auto;
}

dl {
    width: 300px;
}
    dl dt {
        font-weight: bold;
        width: 100px;
    }
    dl dd {
        width: 200px;
    }